name: Run tests on any Push event

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps: 
      - name: Git clone our repo
        uses: actions/checkout@v2
      - name: Check out unit tests
        run: |
          python ./test/testCircle.py
          python ./test/testRectangle.py
          python ./test/testSquare.py
          python ./test/testTriangle.py
