name: Run tests on any Push event

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone our repo
        uses: actions/checkout@v2
      - name: view
        run: ls -l
      - name: view
        run: cd test
      - name: view3
        run: ls -l
      - name: Check out unit tests
        run: python testCircle.py
